# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# OS / File Explorer metadata
.DS_Store
Thumbs.db

# IDE / Editor settings
.vscode/
.idea/

# PyInstaller
*.spec

# Tkinter config (if any logs are saved)
*.log
